@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@section header{
    <link rel="stylesheet" type="text/css" href="~/Styles/zTreeStyle.css" />
    <script type="text/javascript" src="~/Scripts/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script type="text/javascript">
        var setting = {
            async: {
                enable: true,
                url: "/home/GetRoot",
                autoParam: ["id", "name", "pname", "level", "rootid"],
                otherParam: { "otherParam": "zTreeAsyncTest" },
                dataFilter: filter
            },
            callback: {
                onClick: nodeClick
            }
        };

        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }

        function nodeClick(event, treeId, treeNode, clickFlag) {
            //alert(treeNode.getParentNode().name);
            //alert("rootid:" + treeNode.rootid + ",pname:" + treeNode.getParentNode().name+",node:"+treeNode.name);
            var data = { serverid: treeNode.rootid, dbname: treeNode.getParentNode().name, tableName: treeNode.name };
            $.ajax({
                url: '/home/TableDetail',
                type: 'post',
                data: data,
                dataType: 'html',
                success: function (data) {

                    $("#divDetail").html(data);
                }
            });
        }



        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting);
        });
    </script>
    <style type="text/css">
    </style>
}
<div style="border-bottom:1px solid blue;height:50px;">
    <h1 style="float:left;width:300px;margin:0;">SQLInfo</h1>
    <span style="float:right;">
        @if (SQLInfo.ViewModel.UserInfo.GetUserInfo() == null)
        {
            <a href="/home/login" target="_self">登录</a>
        }
        else
        {
            <a href="/admin/adminindex" target="_self">管理</a>
            <a href="/admin/logout" target="_self">退出</a>
        }
    </span>
</div>
<div>
    <div class="zTreeDemoBackground left" style="float:left;width:340px;border-right:1px solid blue;overflow-y:auto; overflow-x:auto; height:800px;">
        <ul id="treeDemo" class="ztree"></ul>

    </div>
    <div id="divDetail" style="float:left;margin-left:10px;margin-bottom:10px;"></div>
</div>


