
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@section header{
    <link rel="stylesheet" type="text/css" href="~/Styles/zTreeStyle.css" />
    <script type="text/javascript" src="~/Scripts/jquery.ztree.core-3.5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script type="text/javascript">
        var setting = {
            async: {
                enable: true,
                url: "/home/GetRoot",
                autoParam: ["id", "name","pname", "level","rootid"],
                otherParam: { "otherParam": "zTreeAsyncTest" },
                dataFilter: filter
            },
            callback: {
                onClick:nodeClick
            }
        };

        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i = 0, l = childNodes.length; i < l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }

        function nodeClick(event, treeId, treeNode, clickFlag) {
            //alert(treeNode.getParentNode().name);
            //alert("rootid:" + treeNode.rootid + ",pname:" + treeNode.getParentNode().name+",node:"+treeNode.name);
            var data = { serverid: treeNode.rootid, dbname: treeNode.getParentNode().name, tableName: treeNode.name };
            $.ajax({
                url: '/home/TableDetail',
                type: 'post',
                data: data,
                dataType: 'html',
                success: function (data) {
                    
                    $("#divDetail").html(data);
                }
            });
        }

        

        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting);
        });
    </script>
<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
}

<div class="zTreeDemoBackground left" style="float:left;width:240px;border-right:1px solid blue;">
    <ul id="treeDemo" class="ztree"></ul>
    
</div>
<div id="divDetail" style="float:left;margin-left:10px;"></div>

