@{
    ViewBag.Title = "管理员登录";
    Layout = "~/Views/Shared/_BaseLayoutPage.cshtml";
}
@model SQLInfo.Web.Models.UserLoginModel
<h2>管理员登录</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>用户名:</td>
            <td>@Html.TextBoxFor(u => u.UserName)</td>
            <td>@Html.ValidationMessageFor(u => u.UserName)</td>
        </tr>
        <tr>
            <td>密码:</td>
            <td>@Html.PasswordFor(u => u.Password)</td>
            <td>@Html.ValidationMessageFor(u => u.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="登录" />
            </td>
            <td></td>
        </tr>
    </table>
}


